body{
  font-family: 'Dancing Script';
  /*margin: 0 5% 0 5%;*/
  background: #02010a;

}
header{
  width: 100%;
  background: #5b7989;
  color: white;
  border-radius: 10px 10px 0 0;
  -wedkit-border-radius:10px 10px 0 0;
  -noz-border-radius: 10px 10px 0 0;
  animation-name: header-animacion;
  animation-duration: 2s;
  -webkit-animation-slidein: 1s;
  -moz-animation-slidein: 1s;
  -o-animation-slidein: 1s;
  animation-slidein: 1s;
}

h1{
text-align: left;
text-shadow: 2px 2px 2px #02010a;
display: inline;
padding: 1%;
}

header nav{
  height: 90%;
  float: right;
  margin: 1% 1% 1%;
}
nav a{
text-decoration: none;
color: white;
}
#contenedor{
  display: flex;
  flex-flow: wrap;
  margin: 0%;
  width: 100%;

}
#imagen1{
  background: #82c3a6;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
#imagen1 img{
  width: 100%;
  float: none;
}

@media (min-width:900px){
#contenedor2{
display: flex;
flex-flow: column;
flex-direction: row;
background: #d5c75f;
margin: 0%;
}
.contenido{
  width: 900px;
  margin: auto;

}
#imagen2{
  width: 50%;
  margin: 0%;
  padding: 1%;
  text-align: center;
}
#imagen3{
  width: 50%;
  margin: 0;
  padding: 1%;
  text-align: center;
}
footer{
  display: flex;
  flex-flow: column;
  flex-direction: row;
  }
  #contacto {
    width: 25%;
    float: left;
  }
  #terminos {
    width: 25%;
    float: left;
  }
  #redes{
    width: 25%;
    float: left;
  }
  #Derecho{
    width: 25%;
    float: left;
  }}
@media (max-width:900px){
#contenedor2{
display: flex;
flex-flow: row wrap;
background: #d5c75f;
margin: 0%;
}
.contenido{
  width: 100%;
  float: center;
}
#imagen2{
  width: 100%;
  margin: 0%;
  padding: 1%;
  text-align: center;
}
#imagen3{
  width: 100%;
  margin: 0%;
  padding: 1%;
  text-align: center;
}}
#imagen2 img{
  width: 100%;
  float: left;
  box-shadow: 4px 4px 4px #82c3a6;
  border: solid black 1px;
}
#imagen2 img:hover{
  transform: rotate(10deg);
  border: solid black 2px;
}
#imagen3 img{
  width: 100%;
  float: right;
  box-shadow: 4px 4px 4px #82c3a6;
  border: solid black 1px;
}
#imagen3 img:hover{
  transform: translate(20px,-5px);
}
footer{
  margin: 0%;
  padding: 1%;
  background: #C6d5c5;
  border-radius: 0 0 10px 10px;
  -wedkit-border-radius:0 0 10px 10px;
  -noz-border-radius: 0 0 10px 10px;

}
footer img{
  width: 10%;
}
footer a{
  color: black;
  text-decoration: none;
}

@keyframes header-animacion{
0% {
position: relative;
margin-top: 150%;
}
50% {
position: relative;
margin-top: -5%;
}
100% {
position: relative;
margin-top: 0%;
}
}
